@import '../../node_modules/bootstrap/dist/css/bootstrap';

*{
  font-family: 'Crimson Text', serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.conteiner-color {
  width: 100%;
  height: 32px;
  background-color: #41171b;
}

.bg-white {
  background: white;
}

.header {
  background-repeat: no-repeat;
  background: url('../img/banner1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .nav-header {
    ul {
      display: flex;
    }
  
    a {
      padding: 12px;
      color: #6e5051;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #41171b;
      }
    }
  }

  .header-content {
    color: white;

    h1 {
      font-size: 3em;
      font-family: 'Maven Pro', sans-serif;
    }

    p {
      font-size: 18px;
      font-family: 'Maven Pro', sans-serif;
    }

    a{
      color: #41171b;
      background-color: white;
      padding: 10px 15px;
      font-weight: bold;
      position: relative;
      top: 10px;
    }
  }
}

.logo {
  top: 30px;
  left: 30px;
  width: 70px;
  height: 250px;
  background: red;
  position: absolute;
}

.logo-nome {
  /*color: #6e5051;
  display: inline;
  position: absolute;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;*/
}

.logo-nome h2 {
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
}

.logo-nome h3 {
  font-size: 14px;
  font-weight: bold;
}

.conteiner-consulta {
  padding: 10px;
  margin: 30px 30px;
}

.texto-agendar-consulta {
  h2, h3 {
    color: #2e2828;
    font-family: 'Maven Pro', sans-serif;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 700;
  }

  h3 {
    font-size: 1em;
    font-weight: 700;
  }
}

.agendar-consulta {
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    background: #41171b;
    color: white;
    padding: 15px 25px;
  }
}

.banner2 {
    background-image: url('../img/banner2.png');
    background-repeat: no-repeat;
    height: 702px;
    width: 100%;
    
}

.services {
  width: 100%;
  padding: 50px 0;
  background-color: gray;
}