@import '../../node_modules/bootstrap/dist/css/bootstrap';

*{
  font-family: 'Crimson Text', serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Maven Pro', sans-serif;
}

.conteiner-color {
  width: 100%;
  height: 32px;
  background-color: #41171b;
}

.bg-white {
  background: white;
}

.bg-gray {
  background-color: #2e2828;
}

.bg-weak {
  background-color: #f3efef;
}

.header {
  background-repeat: no-repeat;
  background: url('../img/banner1.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 830px;

  .ajuste {
    position: relative;
    height: 134px;
    bottom: 15px;
  }

  .nav-header {
    ul {
      display: flex;
      
    }
  
    a {
      padding: 12px;
      color: #6e5051;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 1px solid #41171b;
      }
    }
  }

  .header-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 150px;
    
    h1 {
      font-size: 45pt;
      
      font-family: 'Maven Pro', sans-serif;
    }

    p {
      width: 75%;
      font-size: 12pt;
      font-family: 'Maven Pro', sans-serif;
    }

    a{
      color: #41171b;
      background-color: white;
      padding: 10px 15px;
      font-weight: bold;
      position: relative;
      top: 10px;
    }
  }
}

.logo {
 position: relative;
 bottom: 20px;
 margin-left: 10px;
}

.logo-nome {
  color: #6e5051;
  position: relative;
  bottom: 80px;
  margin-left: 10px;
  /*display: inline;
  position: absolute;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;*/
}

.logo-nome h2 {
  font-size: 1em;
  letter-spacing: 3px;
  font-weight: bold;
}

.logo-nome h3 {
  font-size: 14px;
  font-weight: bold;
}

.container-consulta {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*height: 180px;*/
}

.texto-agendar-consulta {
  
  h2, p {
    color: #2e2828;
    font-family: 'Maven Pro', sans-serif;
  }
  
  h2 {
    font-size: 2em;
    font-weight: 700;
  }

  p {
    font-size: 1em;
    font-weight: 700;
  }
}

.agendar-consulta {
  
  padding-top: 30px;  
  a{
    background: #41171b;
    padding: 25px 45px;
    color: white;
    font-family: 'Maven Pro', sans-serif;
  }
}

.banner2 {
    background-image: url('../img/banner2.png');
    background-repeat: no-repeat;
    padding: 50px;
    /*height: 702px;*/    
}

.services-border {
  
  /*padding: 50px 0;*/
}

.services {
  display: flex;
  align-items: flex-end;
  h2 {
    font-family: 'Maven Pro', sans-serif;
  }
}

.font {
  font-family: 'Maven Pro', sans-serif;
}

.color-white {
  color: white;
}

.service-text1 {
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  p, a{
    font-family: 'Maven Pro', sans-serif ;
    
  }
  
  a {
    background-color: white;
    color: #41171b;
    padding: 10px 30px;
    font-weight: bold;
  }
}

.box {
  color: #41171b;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.sobre {
  color: #41171b;
  
  img {
    border: 3px solid #d5d4d4;
    padding: 15px;
  }
  p {
    font-weight: bold;
  }

  .border-layer {
    width: 419px;
    height: 513px;
    background-color: #41171b;
    z-index: -1;
    position: absolute;
    top: 0;
  }

}

.border-line {
  text-align: center;
  margin: 40px;
}